<?xml version="1.0" encoding="UTF-8"?>

<configuration>
    <property name="logLevel" value="DEBUG"/>
    <property name="logPath" value="./logs/api-news-recommendation-client"/>
    <property name="log.file.name" value="./api-news-recommendation-client.log"/>
    <property name="log.error.file.name" value="./error.log"/>

    <!-- 控制台日志 -->
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <Target>System.out</Target>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] [%-5level] [%logger{0}:%L] : %msg%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>DEBUG</level>
        </filter>
    </appender>

    <!-- 基本信息文件日志 -->
    <appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${logPath}/${log.file.name}</file>
        <Append>true</Append>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] [%-5level] [%logger{0}:%L] : %msg%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>DEBUG</level>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${logPath}/${log.file.name}.%d{yyyyMMdd_HH}</fileNamePattern>
            <maxHistory>720</maxHistory>
        </rollingPolicy>
    </appender>

    <!-- 错误信息文件日志 -->
    <appender name="errorfile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${logPath}/${log.error.file.name}</file>
        <Append>true</Append>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] [%-5level] [%logger{0}:%L] : %msg%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${logPath}/${log.error.file.name}.%d{yyyyMMdd_HH}</fileNamePattern>
            <maxHistory>720</maxHistory>
        </rollingPolicy>
    </appender>

    <logger name="org.mybatis.spring" level="ERROR"/>
    <logger name="org.springframework" level="ERROR"/>
    <logger name="org.apache.http" level="ERROR"/>
    <logger name="com.netflix" level="ERROR"/>
    <root level="${logLevel}">
        <appender-ref ref="console"/>
        <appender-ref ref="file"/>
        <appender-ref ref="errorfile"/>
    </root>
</configuration>